    <main id="documents-index-main">
        <h1>Documentos - {{proyecto.pr_Nombre}}</h1> 
        <div class="documents">   
           {{!-- Por cada archivo se crea un div --}}
            {{#each files}}
                <div class="documents-user">
                    <a href="/{{this.dir}}" download><img src="/images/docs.png" alt="{{this.name}}" /></a>
                    <label>{{this.name}}</label>
                    <label>{{this.size}} MB</label>
                </div>  
            {{/each}}
        </div>
    </main>