<main id="dashboard-main">
        <div class="main-up">
            <div class="Tareas">
                <h1>Lista de Tareas</h1>
                <div class="tareas-lista">
                    <a href="#"><img src="../images/cheque.png" alt=""> Tarea 1</a>
                    <p><b>Límite:</b> dd/mm/aaaa</p>
                </div>
                <div class="tareas-lista">
                    <a href="#"><img src="../images/cheque.png" alt=""> Tarea 1</a>
                    <p><b>Límite:</b> dd/mm/aaaa</p>
                </div>
                <div class="tareas-lista">
                    <a href="#"><img src="../images/cheque.png" alt=""> Tarea 1</a>
                    <p><b>Límite:</b> dd/mm/aaaa</p>
                </div>
            </div>

            <div class="Mensajes">
            </div>

        </div>

        
        <div class="Proyectos">
            <h1> Proyectos</h1>    
            <div class="proyecto-fases">    
                <table>
                    <thead>
                        <tr>
                            <th> Nombre</th>
                            <th> Fecha Inicio</th>
                            <th> Fecha Fin</th>
                            <th> Progreso</th>
                        </tr>                    
                    </thead>
                    <tbody>
                        <tr>
                            {{#each proyectos}}
                            <td><a href="/proyecto/{{id}}">{{nombre}}</a></td>
                            <td>{{fecha_inicio}}</td>
                            <td>{{fecha_fin}}</td>
                            <td>
                                <div class="progress-bar">
                                    <div class="progress-bar__value" style="width: {{progreso}}%"></div>
                                </div>
                            </td>
                            {{/each}}
                        </tr>
                    </tbody>
                </table>
    
            </div>
    
        </div>
        <script src="../js/progressbar.js"></script>
    </main>
