<main id="conceptos-vista-main">

        <div class="titulo-back">
            <a href="../catalogo-conceptos/{{fase.fp_ID}}"><img src="/images/previous.png" alt="Volver"></a> 
            <h1> Conceptos de Partida - {{partida.pt_Nombre}}</h1>            
        </div>
        

        <div class="conceptos-container">
            <table>
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Nombre</th>
                        <th>Unidad</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Importe</th>

                        <script>
                            if ({{user.us_Tipo}} == 0 || {{user.us_Tipo}} == 5){
                                document.write('<th>Editar</th>');
                                document.write('<th>Eliminar</th>');
                            }
                        </script>
                    </tr>                    
                </thead>
                <tbody>

                    <script>
                        if ({{user.us_Tipo}} == 0 || {{user.us_Tipo}} == 5){
                                document.write('{{#each conceptos}}');
                                document.write('<tr>');
                                document.write('<td>{{cp_Clave}}</td>');
                                document.write('<td>{{cp_Nombre}}</td>');
                                document.write('<td>{{cp_Unidad}}</td>');
                                document.write('<td>{{cp_Cantidad}}</td>');
                                document.write('<td>$ {{cp_PrecioUnitario}}</td>');
                                document.write('<td>$ {{cp_Importe}}</td>');
                                document.write('<td><a href="../editar-concepto/{{cp_ID}}"><img src="/images/edit.png" alt="Editar"/></a></td>');
                                document.write('<td><a href="../eliminar-concepto/{{cp_ID}}"><img src="/images/delete.png" alt="Eliminar"/></a></td>');
                                document.write('</tr>');
                                document.write('{{/each}}');
                            } else {
                                document.write('{{#each conceptos}}');
                                document.write('<tr>');
                                document.write('<td>{{cp_Clave}}</td>');
                                document.write('<td>{{cp_Nombre}}</td>');
                                document.write('<td>{{cp_Unidad}}</td>');
                                document.write('<td>{{cp_Cantidad}}</td>');
                                document.write('<td>$ {{cp_PrecioUnitario}}</td>');
                                document.write('<td>$ {{cp_Importe}}</td>');
                                document.write('</tr>');
                                document.write('{{/each}}');
                            }
                    </script>
                    <script>
                        if ({{user.us_Tipo}} == 0 || {{user.us_Tipo}} == 5){
                            document.write('<tr class="row-form">');
                            document.write('<form action="../crear-concepto/{{partida.pt_ID}}" method="POST">');
                            document.write('<td></td>');
                            document.write('<td><input type="text" name="cp_Nombre" placeholder="Nombre" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.\'-]{2,48}$" required></td>');
                            document.write('<td><input type="text" name="cp_Unidad" placeholder="Unidad" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.\'-^]{2,48}$" required></td>');
                            document.write('<td><input type="number" name="cp_Cantidad" placeholder="Cantidad" required></td>');
                            document.write('<td><input type="text" name="cp_PrecioUnitario" placeholder="Precio Unitario" required></td>');
                            document.write('<td></td>');
                            document.write('<td colspan="2"><input type="submit" value="Registrar" id="btnRegistrarConcepto"></td>');
                            document.write('</form>');
                            document.write('</tr>');
                        }
                    </script>                                       
                </tbody>
            </table>

        </div>

    </main>