<main id="fase-form-main">

    <div class="titulo-back">
            <a href="../ver-proyecto/{{proyecto2.pr_ID}}"><img src="/images/previous.png" alt="Volver"></a> 
            <h1 id="editarh1"> Editar Fase de Obra - {{fase.fp_Nombre}} </h1>
    </div>
        

        <div class="fase-form-data"> 
            <form id="fase-form" action="../editar-fase/{{fase.fp_ID}}" method="post">
            <div class="fase-reg-cont">
                <div class="reg-field">
                    <input type="text" id="registro-Nombre-Proyecto" placeholder="Nombre de la fase" name="fp_Nombre" value="{{fase.fp_Nombre}}" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}$" required><label for="registro-Nombre-Proyecto">Nombre de la Fase</label>
                </div>
                <div class="reg-field">
                    <input type="date" id="registro-FechaIni-Proyecto" placeholder="Fecha de Inicio" value="{{fase.fp_FechaInicio}}" 
                    min="{{proyecto2.pr_FechaInicio}}" max="{{proyecto2.pr_FechaFin}}" name="fp_FechaInicio"><label for="registro-FechaIni-Proyecto">Fecha de Inicio</label>
                </div>
                <div class="reg-field">
                    <input type="date" id="registro-FechaFin-Proyecto" placeholder="Fecha de Fin" value="{{fase.fp_FechaFin}}"
                    min="{{proyecto2.pr_FechaInicio}}" max="{{proyecto2.pr_FechaFin}}" name="fp_FechaFin"><label for="registro-FechaFin-Proyecto">Fecha de Fin</label>
                </div>    
            </div>  
            <input type="submit" value="Editar Fase" id="btn-editar-fase">          
            </form>
        </div>

</main>