<main id="avance-main">

        <div class="titulo-back">
            <a href="../ver-proyecto/{{pr_id}}"><img src="/images/previous.png" alt="Volver"></a> 
            <h1>Generar Estimación 
                <a href="../generar-general/{{pr_id}}" id="general">Generar Avance General</a>
            </h1>            
        </div>
        
        <div class="avance-conceptos-container">
            <form action="../generar-avance/{{pr_id}}" method="POST">

            <div class="reg-field">
                <input type="date" id="estimacion-fecha" placeholder="Fecha de Estimación" name="fechaEstimacion" min="{{project.pr_FechaInicio}}" max="{{project.pr_FechaFin}}" required><label for="registro-FechaIni-Proyecto">Fecha de Estimación</label>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Concepto</th>
                        <th>Unidad</th>
                        <th>Cantidad<br>(Restantes)</th>
                        <th>Precio Unitario</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each catalogo.fases}}
                    <tr>
                        <td colspan="6" class="fase">{{fp_Nombre}}</td>
                    </tr>
                        {{#each this.partidas}}
                        <tr>
                            <td colspan="6" class="partida">{{pt_Nombre}}</td>
                        </tr>
                        
                            {{#each this.conceptos}}
                            <tr>
                                <td><input type="text" name="claves" placeholder="Clave" value="{{cp_ID}}" readonly></td>
                                <td>{{cp_Nombre}}</td>
                                <td>{{cp_Unidad}}</td>
                                <td><input type="number" name="cantidades" placeholder="Cantidad" value="{{cp_CantidadMax}}"></td>
                                <td>$ {{cp_PrecioUnitario}}</td>
                                <td>$ {{cp_Importe}}</td>

                            {{/each}}
                        {{/each}}
                    {{/each}}                                    
                </tbody>
            </table>
            <input type="submit" value="Generar" id="btnGenerarAvance">
        </form>


    </div>

</main>