<main id="partidas-vista-main">
    
        <h1> Conceptos de Partida - {{partida.pt_Nombre}}</h1>

        <div class="partidas-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Catálogo de Conceptos</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>                    
                </thead>
                <tbody>

                    {{#each partidas}}
                    <tr>
                        <td class="partida-nombre">{{pt_Nombre}}</td>
                        {{!-- Agregar conceptos a la partida --}}
                        <td class="fase-nombre"> <a href="../ver-conceptos/{{pt_ID}}">Ver Conceptos de {{pt_Nombre}}</a></td>
                        <td><a href="../editar-partida/{{pt_ID}}"><img src="/images/edit.png" alt="Editar"/></a></td>
                        <td><a href="../eliminar-partida/{{pt_ID}}"><img src="/images/delete.png" alt="Eliminar"/></a></td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>

        </div>

    </main>