<main id="dashboard-main">
    <div class="Proyectos">
        <h1> Proyectos</h1>
        <div class="proyectos-vista">
            <table>
                <thead>
                    <tr>
                        <th> Nombre</th>
                        <th> Fecha Inicio</th>
                        <th> Fecha Fin</th>
                        <th> Progreso</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each proyectos}}
                    <tr>
                        <td class="proyecto-nombre"><a href="proyectos/ver-proyecto/{{pr_ID}}">{{pr_Nombre}}</a></td>
                        <td class="fec-ini">{{pr_FechaInicio}}</td>
                        <td class="fec-fin">{{pr_FechaFin}}</td>
                        <td class="pb">
                            <div class="progress-bar-td">
                                <div class="progress-bar">
                                    <div class="progress-bar-fill" id="progress-bar-fill-{{pr_ID}}"
                                        style=" width: {{pr_PorcentajeAvance}}%"></div>
                                </div>
                                <p>{{pr_PorcentajeAvance}}%</p>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>

    </div>
</main>