 <main id="catalogo-vista-main">
        <h1> Conceptos de {{partida.pt_Nombre}}</h1>

        <div class="catalogo-container">

            <div class="tabla-partidas">
                <table>
                    <thead>
                        <tr>
                            <th>Concepto</th>
                            <th>Unidad</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Importe</th>
                        </tr>                    
                    </thead>
                    <tbody>

                        {{#each conceptos}}
                            <tr>
                                <td>{{cp_Nombre}}</td>
                                <td>{{cp_Unidad}}</td>
                                <td>{{cp_Cantidad}}</td>
                                <td>$ {{cp_PrecioUnitario}}</td>
                                <td>$ {{cp_Importe}}</td>
                            </tr>
                        {{/each}}
                                     
                    </tbody>
                </table>
            </div>
           

        </div>

    </main>